.blog__singin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.singin_blur{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(8.333vw); 
}

.elipse1{
    position: relative;
    width: 21.615vw;
    height: 21.667vw;
    left: 63.646vw;
    top: 9.375vw;
    background-color: var(--color-elipseone);
    border-radius: 10.417vw;    
}
     
.elipse2{
    position: absolute;
    width: 21.615vw;
    height: 21.615vw;
    left: 62.786vw;
    top: 22.545vw;
    background-color: var(--color-elipsetwo);
    border-radius: 10.417vw;
}
    
.elipse3{
    position: absolute;
    width: 21.615vw;
    height: 21.667vw;
    left: 25vw;
    top: 24.974vw;
    background-color: var(--color-elipsethree);
    border-radius: 10.417vw; 
}
    
.elipse4{
    position: absolute;
    width: 21.615vw;
    height: 21.615vw;
    left: 23.438vw;
    top: 8.542vw;
    background-color: var(--color-elipsefour);
    border-radius: 10.417vw;
}

.singin_screen{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36.094vw;
    height: 37.500vw;
    border-radius: 1.979vw;
    background-color: var(--color-white); 
    box-shadow: 0vw 0.833vw 2.083vw var(--color-shadow);
    z-index: 2;
}

.registration{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.906vw;
    height: 37.500vw;
    background: var(--color-white);
    box-shadow: 0vw 0.833vw 2.083vw var(--shadow);
    border-radius: 0vw 1.979vw 1.979vw 0vw;
}

.cumfeti{
    position: absolute;
}

.registration p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 0.781vw;
    line-height: 0.938vw;
    text-align: center;
    color: var(--color-rotate-bottom);
    transform: rotate(-90deg);
    cursor: pointer;
}

.singin_text{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.singin_Review{  
    display: flex;
    font-family: var(--font-prata);
    font-style: normal;
    font-weight: 15.625vw;
    font-size: 1.823vw;
    color: var(--color-black);
}

.singin_First{
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 200;
    font-size: 0.625vw;
    color: var(--review-positionandcompany);   
}

.singin_name, .singin_password{

    margin-top: 1.875vw;
    display: flex;
    width: 100%;
    height: 2.604vw;
    border-radius: 0.573vw;
    border: 0.052vw solid;
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 300;
    font-size: 0.729vw;
    line-height: 0.885vw;
    color: var(--color-actualblack); 
    align-items: center;
    justify-content: center;
  }

  .profile_enter {
    all: unset;
    cursor: pointer;
    height: 2.031vw;
    padding: 0.104vw 6.250vw;
    background-color: var(--color-actualblack);
    box-shadow: 0vw 0.833vw 2.083vw var(--color-shadow);
    border-radius: 0.573vw;
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 300;
    font-size: 0.729vw;
    line-height: 0.885vw;
    color: var(--color-white);
  }

  .regbottom{
      display: flex;
      flex-direction: column;
      margin-top: 1.823vw;
      width: 19.531vw;
  }

  .botgoogle, .botfacebook{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 1.146vw;
    margin-left: 0.5vw;
    width: 2.031vw;
    height: 2.031vw;
  }

  .bot{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 1.823vw;
  }


  .singin_name_input, .singin_password_input {
    border-style: none;
    width: 80%;
    height: 60%;
    margin-right: 0.781vw;
    outline: none;
  }

  .blog__registr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .cumfeti_registr{
      position: absolute;
  }

  .registr_screen{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36.094vw;
    height: 37.500vw;
    border-radius: 1.979vw;
    background-color: var(--color-white); 
    box-shadow: 0vw 0.833vw 2.083vw var(--color-shadow);
    z-index: 2;
  }

  .registr_text{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .registr_Review{
    display: flex;
    font-family: var(--font-prata);
    font-style: normal;
    font-weight: 15.625vw;
    font-size: 1.823vw;
    color: var(--color-black);
  }

  .registr_First{
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 200;
    font-size: 0.625vw;
    color: var(--review-positionandcompany); 
  }

  .registrbottom{
    display: flex;
    flex-direction: column;
    margin-top: 1.823vw;
    width: 19.531vw;
  }

  .registr_name, .registr_password_confirm , .registr_email, .registr_password{
    margin-top: 1.875vw;
    display: flex;
    width: 100%;
    height: 2.604vw;
    border-radius: 0.573vw;
    border: 0.052vw solid;
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 300;
    font-size: 0.729vw;
    line-height: 0.885vw;
    color: var(--color-actualblack); 
    align-items: center;
    justify-content: center;
  }

  .registr_name_input, .registr_password_confirm_input, .registr_email_input, .registr_password_input{
    border-style: none;
    width: 80%;
    height: 60%;
    margin-right: 0.781vw;
    outline: none;
  }

  .bot_registr{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 1.823vw;
  }

  .registr_profile_enter{
    all: unset;
    cursor: pointer;
    height: 2.031vw;
    padding: 0.104vw 4.323vw;
    background-color: var(--color-actualblack);
    box-shadow: 0vw 0.833vw 2.083vw var(--color-shadow);
    border-radius: 0.573vw;
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 300;
    font-size: 0.729vw;
    line-height: 0.885vw;
    color: var(--color-white);
  }

  .botgoogle_registr, .botfacebook_registr{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 1.146vw;
    margin-left: 0.5vw;
    width: 2.031vw;
    height: 2.031vw;
  }

  .registration_registr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.906vw;
    height: 37.500vw;
    background: var(--color-white);
    box-shadow: 0vw 0.833vw 2.083vw var(--shadow);
    border-radius: 0vw 1.979vw 1.979vw 0vw;
  }

  .registration_registr p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 0.781vw;
    line-height: 0.938vw;
    text-align: center;
    color: var(--color-rotate-bottom);
    transform: rotate(-90deg);
    cursor: pointer;
}

.registr_blur{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(8.333vw); 
}
