.SmallBlogPage{
    display: flex;

    width: 422px;
    height: 543px;

    flex-direction: column;
}

.ImageAndAuthDate{
    position: relative;
}

.Image{
    display: flex;
    width: 100%;
}

.Image img{
    width: 100%;
    height: 312px;

    object-fit: cover;
    border-radius: 21px 21px 0px 0px;

    flex-direction: row;
}

.ShortInf{
    display: flex;
    position: absolute;
    justify-content: space-between;

    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;

    text-align: center;
    color: var(--color-shortinf);

    bottom: 0;
    
    width: 100%;
    padding: 0 12px 12px 12px;
}

.Backplate{
    width: 100%;
    height: 40%;
    position: absolute;

    bottom: 0;

    background: var(--color-shadowinplate)
}

.TimeAndDate{
    display: flex;
}

.Time{
    margin-right: 8px;
}

.Information{
    display: flex;
    flex-direction: column;

    padding: 28px 14px 0px 14px;
}

.HashtagsAndSocMedia{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    width: 100%;
    margin-bottom: 20px;
}

.smallBlogPage-Hashtags{
    display: flex;
    width: 70%;

    overflow-x: hidden;
}

.Hashtags p {
    margin-right: 9px;
}

.SocialMedia ul li{
    display: inline;

    margin-right: 19px;
}

.SocialMedia ul li:last-child{
    margin-right: 0px;
}

.facebookFrm{
    cursor: pointer;
    filL: var(--color-black);
}

.twitterFrm{
    cursor: pointer;
    filL: var(--color-black);
}

.instagramFrm{
    cursor: pointer;
    filL: var(--color-black);
}

.TitlePlate{
    margin-bottom: 8px;
}

.TitlePlate p{
    font-family: var(--font-prata);
    font-style: normal;
    font-weight: 400;
    font-size: 27px;

    color: var(--color-black);
}

.SubTitle p{
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;

    color: var(--review-positionandcompany);
}