.app_navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 41px;
    width: 100%;
}

.Logo{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;

    pointer-events: none;

    padding: 27px;
    width: 100%;
}

.navbar-socialmedia {
    display: flex;
    align-items: center;
}

.navbar-socialmedia ul li{
    display: inline;
    margin-right: 23px;
    padding: 4px;
}

.navbar-socialmedia ul li:last-child{
    display: inline;
    margin-right: 0px;
}

.facebook{
    display: flex;
    cursor: pointer;
    fill: url('#paint0_linear_1061_299');
}

.facebook:hover ~ defs stop:first-child{
    stop-color: var(--color-facebookgradone);
}

.facebook:hover ~ defs stop:last-child{
    stop-color: var(--color-facebookgradtwo);
}

.twitter{
    display: flex;
    cursor: pointer;
    fill: url('#paint0_linear_947_130');
}

.twitter:hover ~ defs stop:first-child{
    stop-color: var(--color-twittergradone);
}

.twitter:hover ~ defs stop:last-child{
    stop-color: var(--color-twittergradtwo);
}

.instagram{
    display: flex;
    cursor: pointer;
    fill: url('#paint0_linear_947_132');
}

.instagram:hover ~ defs stop:first-child{
    stop-color: var(--color-instgradone);
}

.instagram:hover ~ defs stop{
    stop-color: var(--color-instgradtwo);
}

.instagram:hover ~ defs stop:last-child{
    stop-color: var(--color-instgradthree);
}

.toggleMenu{
    cursor: pointer;
    z-index: 10;
}

.toggleMenuOpen{
    animation: ToggleOpen 0.6s ease both;
}

@keyframes ToggleOpen {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.toggleMenuOpen{
    display: flex;
    position: fixed;
    justify-content: flex-start;

    right: 0;
    top: 0;

    width: 855px;
    height: 100vh;

    z-index: 2;

    background-color: var(--color-white);
    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
    border-radius: 40px 0px 0px 40px;
}

.ChangeToAdv{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 96px;
    height: 100%;

    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
}

.ChangeToBlog{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 110px;
    height: 100%;

    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
}

.ChangeToAdvText,
.ChangeToBlogText{
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    line-height: 30px;
    text-align: right;

    color: rgba(0, 0, 0, 0.3);

    transform: rotate(-90deg);
    cursor: pointer;
}

.toggleMenu-Content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;


    margin: 30px 75px 60px 55px;
    width: 100%;
}

.toggleMenu-Profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
}

.toggleMenu-Profile p{
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
    text-align: right;

    color: var(--color-black);

    margin-left: 14px;
}

.toggleMenu-Menu{
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    margin-bottom: 25px;
}

.toggleMenu-blogSign,
.toggleMenu-AdsSign{
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-align: right;

    color: rgba(52, 52, 52, 0.35);

    margin-bottom: 64px;

}

.toggleMenu-OutOrIn{
    font-family: var(--font-inter)!important;
    font-style: normal!important;
    font-weight: 200!important;
    font-size: 35px!important;
    line-height: 42px!important;
    text-align: right!important;

    color: var(--color-black)!important;

    margin-top: 64px;
}

.toggleMenu-Menu p{
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 200;
    font-size: 45px;
    line-height: 54px;
    text-align: right;

    color: var(--color-black);

    list-style: none;
    margin-bottom: 29px;
    transition: none;
    border: 1px solid transparent;
}

.toggleMenu-Menu p:hover{
    transition: 0.3s ease;
    cursor: pointer;
    border-bottom: 1px solid var(--color-black);
}

.toggleMenu-footer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

}

.toggleMenu-footer div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    flex-direction: column;

    margin-left: 103px;
}

.toggleMenu-footer div:first-child{
    margin-left: 0px;
}

.toggleMenu-footer li:first-child{
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: right;

    color: var(--color-black);

    margin-bottom: 14px;
}

.toggleMenu-footer li{
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-align: right;
    
    color: rgba(52, 52, 52, 0.5);
    
    list-style: none;
    margin-bottom: 9px;
}

.toggleMenu-footer li:last-child{
    margin-bottom: 0px;
}