.testB{
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    text-align: center;

    background: var(--color-bluegrad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}