@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Imperial+Script&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@300&family=Prata&display=swap');

:root{
    --font-cinzel: 'Cinzel', serif;
    --font-inter: 'Inter', sans-serif;
    --font-prata: 'Prata', serif;
    --font-imperialscr: 'Imperial Script', cursive;
    --font-montserrat: 'Montserrat', sans-serif;
    --review-positionandcompany: rgba(52, 52, 52, 0.7);
    --shadow: rgba(112, 144, 176, 0.2);
    --color-black: #343434;
    --color-nameofsections: rgba(52, 52, 52, 0.62);
    --color-instgradone: #7D3AAE;
    --color-instgradtwo: #DC1944;
    --color-instgradthree: #F9CD01;
    --color-twittergradone: #2AFADF;
    --color-twittergradtwo: #4C83FF;
    --color-facebookgradone: #2AFADF;
    --color-facebookgradtwo: #4C83FF;
    --color-shortinf: rgba(255, 255, 255, 0.5);
    --color-hashtag: rgba(52, 52, 52, 0.3);
    --color-actualblack: #000;
    --color-bluegrad: linear-gradient(96.65deg, #D3F5CF 9.98%, #A8DBFA 52.48%, #635EE2 93.32%);
    --color-greytrendssubtitle: rgba(255, 255, 255, 0.4);
    --color-shadowinplate: linear-gradient(360deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    --color-white: #FFF;
    --color-shortdescription: rgba(255, 255, 255, 0.7);
    --color-blackhashtag: rgba(255, 255, 255, 0.74);
    --color-backhashtag: #f8f8f8;
    --color-hashtagborderblack: rgba(255, 255, 255, 0.1);
    --color-hashtagborder: rgba(52, 52, 52, 0.1);
    --color-elipseone: #F3F3CF;
    --color-elipsetwo:  #8DDFF3;
    --color-elipsethree: #F39D9D;
    --color-elipsefour: #8DDFF3;
    --color-instgrad: linear-gradient(96.65deg, rgba(252, 127, 96, 0.62) 9.98%, rgba(252, 75, 137, 0.62) 50.64%, rgba(72, 73, 215, 0.62) 93.32%);
}

::-webkit-scrollbar {
  display: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    transition: all 0.6s ease;
  }

a {
    color: unset;
    text-decoration: none;
}